<!-- linking layout  -->
<%layout("/layouts/boilerplate") %>
<!-- rest code for webpage  -->
    <h3>All Listings</h3>
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->

    
   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1"> <!-- bootstrap classes (which have some inbuilt style) -->
   <%for(listing of allListings){%>
    <a href="/listings/<%=listing._id%>" class="listing-link">
    
        <div class="card">
          <img src="<%=listing.image.url%>" class="card-img-top" alt="Listing_img" style="height: 18rem;">
          <!-- class of bootstrap which shows overlay on imgs i.e content of this class comes above the images-->
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
             <b><%=listing.title%> </b> <br>
              &#8377;<%=listing.price.toLocaleString("en-IN")%>/night
            </p>
         </div>
       </div>
       </a>
      
    <%}%>
    </div>
         
   
    
    
    

